@import 'nav';
@import "mixin";

$box-shadow: 0 5px 15px 5px rgba($color: $accent, $alpha: 0.2);

::-webkit-scrollbar {
    width: 0.30rem;
    height: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background: $main;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 25px;
    background: $accent;
  }


h1,
h2,
h3,
h5,
h6 {
    font-weight: 300;
    margin: 1rem 0;
}

h4 {
    text-transform: uppercase;
    color: $main;
    font-weight: 400;
    font-size: 2.5rem;
}

h5 {
    color: $accent;
    margin-bottom: 0;
    font-weight: 400;
}

h2 {
    @include screen(small) {
        font-size: 1.2rem;
    }
}

button, .accent-btn {
    text-decoration: none;
    color: white;
    background-color: $accent;
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 4px;
    font-size: 0.9rem;
    text-transform: uppercase;
    transition: .3s;

    &:hover {
        box-shadow: $box-shadow;
    }
}

a {
    text-decoration: none !important;
}

.a-btn {
    margin-top: 0.5rem;
    width: 100%;
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: none;
    text-align: center;
    padding: 0.2rem 1rem;
    border: 2px solid white;
    border-radius: 2px;
    font-size: 0.9rem;
    text-transform: uppercase;
    transition: .3s;

    &:hover {
        color: white;
        box-shadow: $box-shadow;
    }
}

.tile {
    border: none;
    border-radius: 4px;
    padding: 1rem;
    background-color: red;
}


//color changes
.accent-text {
    color: $accent;
}

.accent-bg {
    background-color: $accent;
}

.main-text {
    color: $main;
}

.main-bg {
    background-color: $main;
}