@import 'colors';

nav {
  background-color: $main;
  padding: 0.5rem 1rem !important;

  // animation: 2s nav-color 30s forwards;

  @keyframes nav-color {
    from {
      background-color: none;
    }

    to {
      background-color: $main;
    }
  }
}

nav span:focus {
  outline: none !important;
}

nav .navbar-toggler-icon {
  width: 32px !important;
  height: 32px !important;
  background: url(https://res.cloudinary.com/sapiangroup/image/upload/w_auto,f_auto,q_auto/v1598163563/OLLORUN_IMAGES/images/elements/ham_y9sttw.svg) no-repeat !important;
  background-size: cover !important;
}

nav .navbar-brand img {
  width: 124px;
}

nav ul li a {
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-right: 1rem;
}

nav ul li a:hover {
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

nav ul .join-btn {
  background-color: #e52564;
  padding: 0.4rem 3rem !important;
  border-radius: 4px;
}