@import "mixin";
.btn-div{
  // background: #bb16de;
   padding: 10px;
   border: solid #bb16de 2px;
   border-radius:  10px;
   color: #000000;
 }
 .btn-div:hover{
  background: #bb16de;
   color: white;
 }
 .kit{
  color: #e52564;
border: solid #e52564 2px;
   @include screen(small){
     color: white;
   }
 }
 .kit:hover{
  color: white;
  background-color: #e52564;

   @include screen(small){
     color: white;
   }
 }
.pannel-1{
  overflow-x: hidden;
height: 100vh;
  text-align: justify;
  text-align-last: center;
  top:0;

  
  .w-side{
   background-color: white;
   transition: 2s;
   }
  .w-side:hover {
    background-color:   #4a108b;
    ;
    color: white;
    transition: 2s ;
 .btn-div{
  color: white;
}
  }
  .h-side{
  background-color: white;
  transition: 2s;
  }
  .h-side:hover {
    background-color:  #4a108b;
    color: white;
    transition: 2s ;
 .btn-div{
  color: white;
}
  }
  .hw-content {
    h4 {
      color: white;
    }
    h5 {
      color: white;
    }
    .img-div {
      padding: 15px 5px;
      .w-img{
       // box-shadow: 0 10px 16px 0 rgba(221, 197, 110,0.5),0 6px 20px 0 rgba(221, 197, 110,0.5) !important;
      //  box-shadow: 0 10px 16px 0 rgba(102, 0, 153,0.25),0 6px 20px 0 rgba(102, 0, 153,0.25) !important;
      }
      .h-img{
        //box-shadow: 0 10px 16px 0 rgba(9, 107, 163,0.2),0 6px 20px 0 rgba(9, 107, 163,0.5) !important;
      //  box-shadow: 0 10px 16px 0 rgba(102, 0, 153,0.25),0 6px 20px 0 rgba(102, 0, 153,0.25) !important;
    
      }
      img {
        width: 50%;
        padding: 20px;
       // border-radius: 10%;
       top:0;
//background-color: white;
@include screen(small) {
  width: 100%;
}
      }
      

    }
    .btn-explore {
      padding: 10px 20px;
      border: 2px solid white;
    }
  }
  @include screen(small){
    height: 60vh;
  }
  }

.pannel-2{

    height: 100vh;
    //background: url(../images/svgs/BG_FlashX_01.svg) no-repeat;
   .side-img_div{
      background-image: linear-gradient(to right bottom, rgba(32,10,65,1) , rgba(73,10,105,1) ,rgba(49,32,169,1) );
      background-size: cover;
      padding-top: 10px;
     img{
      object-fit: contain;
       width: 120%;
       height: 100%;
     }
     @include screen(small) {
      height: 50%;
      width: 90%;
      img{
       // margin-left: 15%;
        width: 115%;
        height: 100%;
      }
    }
    }
.oppatumity {
    width: 100%;
    padding: 32px;
    padding-top: 1200px;
}
h4 {
    color: #3120a9;
    //font-family: Heebo-medium;
    text-align: center !important;
}

 .why {
    font-size: 36px;
    font-family: Heebo-light;
    text-align: center !important;
}

 p {
    margin-top: 16px;
    text-align: justify;
    text-align-last: center;
}

.oppatumity-img {
    margin-left: 32px;
    margin-top: 32px;
    width: 100%;
}
}
.pannel-3{
  height: 100vh;
  @include screen(small) {
    height: auto;
  }
  .content-right{
    p{
      margin-bottom: 3rem;
    }
  }
  .content-left{
    margin-top: 10%;
  }
  .pannel-button{
    text-align: left;
    border: none;
    margin: 20px;
       color: white;
    padding: 16px 16px;
    width: 100%;
    background-color: #6d527a;
    background: rgb(146,92,173);
background: linear-gradient(180deg, rgba(146,92,173,1) 0%, rgba(32,10,65,1) 100%);
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(1, 1, 1, 0.5);
    transition: .3s;
        transition-property: all;
        transition-duration: 0.3s;
        transition-timing-function: ease;
    img{
      width: 25%;
    }
    p{
      margin: auto;
      text-align: center;
    }
    @include screen(small){
      margin-left: 0px;
    }
}
.pannel-button:hover {
  transition: .3s;
  transform: scale(1.05) !important;
}

.pannel-button:focus {
  outline: none;
  border: 1px solid #3120a9;
}
}
.pannel-4{
  .mobile-back{
    background: linear-gradient(to left top, rgba(32,10,65,1) , rgba(73,10,105,1) ,rgba(49,32,169,1) );;
    display: none;
    height: 160%;
    z-index: 0;
    position: absolute;
    @include screen(small) {
      display: block;
      height: 100%;
      filter: blur(4px);
    -webkit-filter: blur(8px);
    }
  }
  .side{
    background-image: linear-gradient(to right top, rgba(32,10,65,1) , rgba(73,10,105,1) ,rgba(49,32,169,1) );
   
    //position: initial;
    img{
      width: 130%;
      margin-left: 10%;
      position: sticky;
     top: 10%;
    }
  }

  @include screen(small) {
    z-index: 0;
    background: linear-gradient(to left top, rgba(32,10,65,1) , rgba(73,10,105,1) ,rgba(49,32,169,1) );
    .side{display: none;}
    height: auto;
   
  }
  
  .why-headings{
    text-align: center;
    @include screen(small) {
      h4{
        color: white;
        
      }
    }
  }
  
  .w-div{box-shadow: 0 5px 20px rgba(221, 197, 110, 0.25);}
  .h-div{box-shadow: 0 5px 20px rgba(9, 107, 163, 0.25);}
}
.universe{
  text-align: justify;
  text-align-last: center;
  border: none;
  margin: 4px;
  padding: 16px 16px;
  width: 100%;
  height: 100%;
  background-color: #660099;
  color: white;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(1, 1, 1, 0.5);
  transition: .3s;
      transition-property: all;
      transition-duration: 0.3s;
      transition-timing-function: ease;
     
}
.pannel-5{
   background-image: linear-gradient(to right bottom, rgba(32,10,65,1) , rgba(73,10,105,1) ,rgba(49,32,169,1) );

   h4 {
    text-transform: uppercase;
    color: white;
    font-weight: 400;
    font-size: 2.5rem;
}
  .heding{
    text-align: center;
    h4{
     // color: white;
    }
  }
  .btn-row{
  
   z-index: 101;
   top: 45%;
    .nav-btn{
      width: 50px;
      height: 50px;
      background-color: #490272;
      border-radius: 50%;
      font-size: 2rem;
      color: white;
     padding: auto;
  cursor: pointer;
    }
    .btn-l{
  left: 0%;
    }
    .btn-r{
      right: 0%;
    }
  }
  
  .content{
    height: 75vh;
  border-radius: 50px;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0,0.25),0 6px 20px 0 rgba(0, 0, 0,0.25) !important;
  overflow: hidden;
  position: relative;
  background-color: #000000;
  .slider-item{
    width:100%;
    height: 100%;
    transition:  1s;
   display: flex;
   position: absolute;
   float: left;
 left: 100;
   @include screen(small) {
    display: block;
    }
  } 

  .active-b{
    -webkit-animation: right-to-center 1.5s cubic-bezier(.72,.16,.46,.98);
    animation: right-to-center 1.5s cubic-bezier(.72,.16,.46,.98);
    z-index: 100;
  }
  .inactive-b{
    -webkit-animation: center-to-left 1.5s cubic-bezier(.72,.16,.46,.98);
    animation:  center-to-left 1.5s cubic-bezier(.72,.16,.46,.98);
    z-index: 20;
  }

  .active-f{
    -webkit-animation: left-to-center  1.5s cubic-bezier(.72,.16,.46,.98);
    animation: left-to-center  1.5s cubic-bezier(.72,.16,.46,.98);
    z-index: 100;
  }
  .inactive-f{
    -webkit-animation: center-to-right 1.5s cubic-bezier(.72,.16,.46,.98);
    animation: center-to-right 1.5s cubic-bezier(.72,.16,.46,.98);
    z-index: 20;
  }
  
 
  @-webkit-keyframes left-to-center{
    from{left:-100%}
    to{left:0}
}
@-webkit-keyframes center-to-right{
    from{left:0}
    to{left:100%}
}
@-webkit-keyframes right-to-center{
  from{right:-100%}
  to{right:0}
}
@-webkit-keyframes center-to-left{
  from{right:0}
  to{right:100%}
}

@keyframes center-to-right{
  from{left:0}
  to{left:100%}
}
@keyframes left-to-center{
    from{left:-100%}
    to{left:0}
}
@keyframes center-to-left{
  from{right:0}
  to{right:100%}
 
}
@keyframes right-to-center{
  from{right:-100%}
  to{right:0}
}

  .slider-item_side{
    img{
      margin: auto;
    }
   background-image: linear-gradient(to left top, rgba(32,10,65,1) , rgba(73,10,105,1) ,rgba(49,32,169,1) );
   height: 100%;
justify-content: center;
display: flex;

    height: 100%;
    @include screen(small) {
      height: 50%;
      img{

      }
      }
      
  }
  .slider-item_side_l{
    img{
      margin: auto;
    }
    background-image: linear-gradient(to right top, rgba(32,10,65,1) , rgba(73,10,105,1) ,rgba(49,32,169,1) );
    height: 100%;
justify-content: center;
display: flex;
    @include screen(small) {
      height: 50%;
      display: none;
      }
  }
  .slider-item_side_r{
 img{
   margin: auto;
 }
    background-image: linear-gradient(to right top, #000000,     #320863);
    height: 100%;
justify-content: center;
display: flex;
    @include screen(small) {
      height: 50%;
      display: block;
      }
  }
  
  
.slider-item_content{
 text-align: center;
    background-color: white;
    height: 100%;
 .text{
  margin: 20%;
   margin-top: 25%;
   h6{
     color:#320863;
     font-size: 2rem;
   }
   @include screen(small){
    padding: 10%;
    padding-top: 4%;
    margin: auto;
   }
 }
  @include screen(small) {
      height: 50%;
     
      }
  }
 
  }
  .slider-indicaters{
  .slider-dot{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 5px;
    background-color: rgba(0, 0, 0,0.25);
  
  }
  .active{
    
    background-color: rgba(255, 255, 255,0.75);
  }
}

}
.pannel-6{
  height: 120vh;
  @include screen(small) {
  height: auto;
  }
 // background: url(https://res.cloudinary.com/buddhidev/image/upload/v1624340705/Ollorun/network_oocyrc.png);
//background-size: cover;
overflow-y: visible;

.network-heading{
  text-align: center;
  
}
.three_items{
  height: 75px ;
  @include screen(small) {
    height: auto ;
  }
}
  
    .social{
      width: 100%;
     align-items: center;
     margin-bottom: 20px;
     margin-top: 20%;
      .text{
        text-align: center;
      }
      .icons{
        text-align: center;
        a{
          padding: 2%;
        }
        img{
          width: 10%;
        }
      }
      
    }
 .side{
  background-image: linear-gradient(to right bottom, rgba(32,10,65,1) , rgba(73,10,105,1) ,rgba(49,32,169,1) );
  
  img{
    width: 132%;
    margin-left: -35%;
    //height: 75%;
    bottom: -4%;
    position: absolute;
    @include screen(medium) {
    
      bottom: -1.8%;
    }
    @include screen(small) {
      width: 100%;
      margin-left: 0%;
      position: relative;
      bottom: -4%;
    }
  }
 }
}
.pannel-7{
 
  text-align: center;
 padding-bottom: 50px;
  h5 {
    margin-top: 0;
    color: white;
  }
  h4{color: white;}

  .networks-img {
    margin-top: 2rem; 
  }
}
.pack-top{
 background:  linear-gradient(to left bottom, rgba(32,10,65,1) , rgba(73,10,105,1) ,rgba(49,32,169,1) );
 height: 60vh;
 color: white;
 h4{
   color: white;
 
font-weight: 400;
font-size: 1.5rem;
 }
 .to-store-btn{
   margin: auto;
   background: #e52564;
   border-radius: 10px;
   padding: 10px;
   text-align: center;
   color: white;
   font-size: 1.25rem;
   margin-top: -20px;
 }
}
.product{
  img{
    border-radius: 10px 10px 0px 0px;
  }
  
.price{
  width: 100%;
  text-align: left;
  margin: 0;
  margin-top: 1rem;
  margin-left: 10px;
}
.pv{
  width: 100%;
  text-align: right;
  margin: 0;
  margin-top: 1rem;
  margin-right: 10px;
}
}
