
.pentagons {
  width: 100%;
  
padding-bottom: 50px;
  // background: url(https://res.cloudinary.com/dmeppscpx/image/upload/w_1200,f_auto,q_auto/v1622440720/ollorun-bg/plan1_mlefdt.png)no-repeat fixed bottom center ;
   background: url(https://res.cloudinary.com/buddhidev/image/upload/w_1200,f_auto,q_auto/v1622578203/Ollorun/plan-min_butg6c.png)no-repeat fixed bottom center ;
background-size: cover;
text-align: justify;
text-align-last: center;

p{
  color: #3120a9;
  font-size: 20px;
}
}

.pentagons .mobile-only h6 {
  color: #3120a9;
}
.pentagons .btn-row{
  position: relative;
top: -50%;


}
.sec-9 {
  text-align: center;
}

.sec-9 h6 {
  font-weight: bold;
}

.sec-9 .topic {
  color: #3120a9;
}

.sec-9 h1 {
  text-align: center;
  color: #3120a9;
}

.sec-9 {
  text-align: left;
}

.sr-only {
  display: none;
}







.sec-3 {
  margin-top: 1rem;
}

.sec-3 h5 {
  color: #e52564;
  font-weight: 400 !important;
  text-align: center;
  margin-top: 5%;
}

.sec-3 .package {
  margin-top: 1rem;
  color: #3120a9;
  background-color: white;
  padding: 1rem;
  -webkit-box-shadow: 0 0 20px rgba(0, 17, 255, 0.2);
  box-shadow: 0 0 20px rgba(0, 17, 255, 0.2);
  border-radius: 0.3rem;
}

.sec-3 .package .dot {
  width: 25px;
  height: 25px;
  border-radius: 25px;
  margin: 0 !important;
  border: 1px solid #9013FE ;
}

.sec-3 .package .dot:hover {
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  background: #9013FE ;
}

.sec-3 .package .package-name {
  margin-top: 1rem;
  text-align: center;
  font-size: 2rem;
  color: #e52564;
  font-family: "Oswald", sans-serif;
}

.sec-3 .package .select-button {
  width: 100%;
  padding: 1rem;
  border: none;
  margin-top: 1rem;
  border-radius: 0.2rem;
  background: linear-gradient(90deg, #3023AE 0%, #3023AE 35%, #9013FE 100%);
  color: white;
  letter-spacing: 0.1rem;

  &:hover {
    cursor: pointer !important;
  }
}

.sec-3 .package .package-data {
  padding: 0;
  font-size: 0.8rem;
}

.sec-3 .package .package-data .yearprofit,
.sec-3 .package .package-data .o-rate {
  float: right;
}

.sec-3 .color-dot {
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  background: #e52564;
}

.sec-3 .range-wrap h5 {
  text-align: left;
  margin: 2rem 0;
  color: #3120a9;
}

.sec-3 .range-wrap .range-slider {
  -webkit-appearance: none;
  width: 100%;
  background: rgba(42, 7, 196, 0.151);
  border: 1px solid #3120a9;
  border-radius: 25px;
  height: 15px;
  -webkit-animation: 1s gradient ease infinite !important;
  animation: 1s gradient ease infinite !important;

  &:hover {
    cursor: pointer;
  }
}

.sec-3 .range-wrap .range-slider:focus {
  outline: none;
}

.sec-3 .range-wrap .range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  display: block;
  background-color: #f7f7f7;
  border: 1px solid #e52564;
  width: 35px;
  height: 35px;
  position: relative;
  text-align: center;
  line-height: 144px;
  border-radius: 50%;
}

.sec-3 .range-wrap .range-slider::-moz-range-thumb {
  display: block;
  width: 35px;
  height: 35px;
  border: 1px solid #e52564;
  position: relative;
  text-align: center;
  line-height: 144px;
  border-radius: 50%;
}

.sec-3 .yearstats .days {
  background: linear-gradient(90deg, #3023AE 0%, #3023AE 35%, #9013FE 100%);
  padding: 0 1rem;
  border-radius: 25px;
  text-align: center;
}

.sec-3 .yearstats .days h6 {
  color: white;
  margin-top: 0.5rem;
}

.sec-3 .yearstats .percentage h3 {
  color: #e52564;
  text-align: center;
  margin-top: 1rem;
}

.sec-3 .yearstats .stat {
  font-weight: 500;
  margin: 1rem 2rem;
}

.sec-3 .yearstats .stat .stat-data {
  margin-top: 0.1rem;
}

.sec-3 .yearstats .stat .stat-data .data-name {
  float: left;
}

.sec-3 .yearstats .stat .stat-data .value {
  float: right;
}

.sec-3 .yearstats .stat .stat-data .doller-value::before {
  content: "€";
}










.pentagon {
  margin-right: 5rem;
}

.range-wrap h5 {
  text-align: left;
  margin: 2rem 0;
  color: #3120a9;
}

.range-wrap .range-slider {
  -webkit-appearance: none;
  width: 100%;
  background: rgba(42, 7, 196, 0.151);
  border: 1px solid #3120a9;
  border-radius: 25px;
  height: 15px;
  -webkit-animation: 1s gradient ease infinite !important;
  animation: 1s gradient ease infinite !important;

  &:hover {
    cursor: pointer;
  }
}

.range-wrap .range-slider:focus {
  outline: none;
}

.range-wrap .range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  display: block;
  background-color: #f7f7f7;
  border: 1px solid #e52564;
  width: 35px;
  height: 35px;
  position: relative;
  text-align: center;
  line-height: 144px;
  border-radius: 50%;
}

.range-wrap .range-slider::-moz-range-thumb {
  display: block;
  width: 35px;
  height: 35px;
  border: 1px solid #e52564;
  position: relative;
  text-align: center;
  line-height: 144px;
  border-radius: 50%;
}

@media (min-width: 992px) {
  .sec-1 {
    height: 100vh;
  }

  .sec-9 {
    text-align: left;
  }

  .pentagon {
    margin-right: 5rem;
  }

  .sec-change {
    margin-top: 4rem !important;
  }

  .sec-4 img {
    width: 75%;
    margin-left: 3rem !important;
  }

  .sec-2-img-1 {
    background-position-y: -450px !important;
  }

  .products-header {
    margin-top: 80px;
  }
}


.sec-reward {
  text-align: center;
  margin-top: 5rem;
  position: relative;
}

.sec-reward h6 {
  color: #e52564;
  text-align: center;
  margin-bottom: 4rem !important;
}

.sec-reward h2 {
  font-size: 3rem;
  margin-left: 1rem;
  background: -webkit-linear-gradient(45deg, #e6cd6b 0%, #837241 88%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sec-reward h2::after {
  content: "PGV";
  background-image: -webkit-linear-gradient(45deg,
      #3120a9 0%,
      #3120a9 88%) !important;
  vertical-align: top;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 18px;
}

.sec-reward .badge {
  width: 124px;
  margin-bottom: 1rem;
}

.sec-reward p {
  font-size: 14px;
}
.sec-reward .reward-name {
  margin-top: 2rem;
}

.sec-reward .btns {
  bottom: 0;
  position: absolute;
}

.footer {
  background-color: #3120a9;
  padding: 2rem;
}

.footer p {
  color: white;
}

.footer p img {
  width: 24px;
  margin-right: 0.5rem !important;
}

.footer .footer-logo {
  text-align: center;
  width: 164px;
}

.footer ul {
  padding-left: 0 !important;
  color: white;
  list-style: none;
}

.footer ul li {
  margin-top: 1rem;
}

.footer ul li a {
  text-decoration: none;
  color: white;
}

.footer .footer-social {
  margin-top: 9rem;
}

.footer .footer-social a {
  margin: 0 0.3rem;
}

.footer .footer-social a img {
  width: 46px;
  height: 46px;
}
a{color: white;}
a:hover{color: white;}