@import "old";
@import "new";
@import "components";
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400&display=swap");

* {
  box-sizing: border-box;
}

body {
  background: url(https://res.cloudinary.com/dmeppscpx/image/upload/w_1200,f_auto,q_auto,o_30/v1617615233/BG-1_wqrh99.jpg)  ;

  margin: 0;
  padding: 0;
  font-family: "Heebo", sans-serif !important;
  font-size: 16px !important;
}

.top {
  position: relative;
  min-width: 100%;
  min-height: 100vh;
  // background-color: white;
  display: flex;
  justify-content: center;
  // background: url(https://res.cloudinary.com/dmeppscpx/image/upload/w_1200,f_auto,q_auto,o_30/v1617615233/BG-1_wqrh99.jpg)
  //   no-repeat;
  background-size: cover;
background-color: white;
color: black;
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    animation: video-blur 26s forwards;
  }

  @keyframes video-blur {
    75% {
      opacity: 1;
    }

    80% {
      filter: blur(0);
      opacity: 0.5;
    }

    100% {
      filter: blur(15px);
      opacity: 0;
    }
  }

  .video-overlay-1,
  .video-overlay-2 {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: black;
    animation: opac 30s ease-in forwards;
    opacity: 1;

    @keyframes opac {
      95% {
        opacity: 1;
      }

      100% {
        opacity: 0;
      }
    }
  }

  .video-overlay-2 {
    opacity: 0.4;
  }

  .content {
    z-index: 999;
    text-align: center;

    h2 {
      margin-top: 2rem;
      transform: translate(0);
      opacity: 0;
      color: white;
      animation: ease-text 30s ease-in forwards;

      @keyframes ease-text {
        95% {
          transform: translateY(0);
          opacity: 0;
          color: black;
        }

        100% {
          transform: translateY(-20px);
          opacity: 1;
          color: black;
        }
      }
    }

    .logo {
      transform: scale(0.4);
      opacity: 0;
      animation: reveal-logo 28s forwards;

      @keyframes reveal-logo {
        80% {
          opacity: 0;
          transform: scale(0.5);
        }

        100% {
          opacity: 1;
          transform: scale(1);
        }
      }

      img {
        width: 50%;
      }
    }

    .explore {
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 5rem;
      top: 80%;
      .explore-btn {
        background: none;
        border: 2px solid white;
        padding: 0.8rem 5rem;
        border-radius: 4px;
        transition: 0.3s;
        color: white;
        animation: 1s glow-btn 30s forwards;

        @keyframes glow-btn {
          from {
            background: none;
            border: 2px solid white;
          }

          to {
            border: none;
            background-color: $accent;
          }
        }

        &:hover {
          border: none;
          background-color: $accent;
        }
      }
    }
  }
}

.intro-desktop {
  .wh-content {
    position: relative;
    display: flex;

    .left-behind,
    .right-behind {
      display: flex;
      justify-content: center;
      min-width: 50%;
      min-height: 100vh;
      background-color: white;
      z-index: 800;

      .wh-content {
        text-align: center;

        img {
          width: 40%;
        }
      }
    }
  }

  .left-behind {
    top: 0;
    left: 0;
  }

  .right-behind {
    top: 0;
    right: 0;
  }

  .left,
  .right {
    position: absolute;
    width: 50%;
    height: 100vh;
    transition: 0.3s;
    z-index: 999;
    opacity: 0;
    padding: 5rem;
    @include screen(small) {
      padding: 5rem 0;
    }

    .intro {
      position: absolute;
      top: 25%;
      left: 25%;
    }

    h4 {
      color: white;
      text-shadow: 0 2px 1px rgba($color: #000000, $alpha: 1);
      @include screen(small) {
        font-size: 1.2rem;
      }
    }

    button {
      background: none;
      border: 2px solid white;
    }

    .w-close,
    .h-close {
      position: absolute;
      top: 20px;
      width: 2rem;
      height: 2rem;
      border-radius: 50rem;
      cursor: pointer;
      background-color: white;
      background-image: url(https://pics.freeicons.io/uploads/icons/png/17115838791536572526-512.png);
      background-repeat: no-repeat;
      background-size: 12px;
      background-position: center;
      transition: 0.3s;
      transform-origin: center;

      &:hover {
        box-shadow: 0 5px 15px rgba($color: #000000, $alpha: 0.1);
      }
    }

    .w-close {
      right: 20px;
    }

    .h-close {
      left: 20px;
    }
  }

  .left {
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: linear-gradient(
      -45deg,
      rgba(0, 239, 220, 1) 0%,
      rgba(0, 148, 244, 1) 100%
    );
    background-image: url(https://store.ollorun.com//image/catalog/new%20files%20png/entete%20produits/Ollorun_H.png);
    box-shadow: 15px 0 15px rgba($color: #000000, $alpha: 0.1);
    // background: url(https://store.ollorun.com/store/image/catalog/new%20files%20png/entete%20produits/Ollorun_H.png) no-repeat;
    background-size: cover;
    background-position: center;
    transform-origin: left;

    &:hover {
      opacity: 1;
      width: 60%;
    }
  }

  .right {
    top: 0;
    right: 0;
    background-color: white;
    box-shadow: -15px 0 15px rgba($color: #000000, $alpha: 0.1);
    background: $w-color;
    transform-origin: right;
    // background: url(https://store.ollorun.com/store/image/catalog/category%20pix/Ollorun_W.png) no-repeat;
    background-size: cover;
    background-position: center;
    transform-origin: left;

    .carousel-control-prev,
    .carousel-control-next {
      height: 20px;
    }

    &:hover {
      background-color: #ddc56e;
      background-image: url(https://store.ollorun.com//image/catalog/category%20pix/Ollorun_W.png);
      opacity: 1;
      width: 60%;
    }
  }

  .h-packs,
  .w-packs {
    transform: scale(0);
  }

  .w-packs {
    width: 100%;

    .tab-content {
      margin-top: 2rem;
    }

    .nav-pills .nav-link.active,
    .nav-pills .show > .nav-link {
      background-color: $main !important;
      width: 100%;
      text-align: center;
    }

    .nav-link-1 {
      border-radius: 5px 0 0 5px;
    }

    .nav-link-3 {
      border-radius: 0 5px 5px 0;
    }

    button {
      border: none;
      border-radius: 0;
      margin: 0 2rem;

      &:hover {
        box-shadow: none;
      }
    }
  }
}

.pack {
  margin-top: 2rem;
  font-size: 0.9rem;
  span {
    text-overflow: ellipsis;
    white-space: nowrap;
    max-lines: 1;
  }

  img {
    width: 100%;
  }

  button {
    width: 100%;
    margin-top: 0.4rem;
    padding: 0.3rem 1.2rem;
  }
}


.company {
  margin-top: 5rem;

  h5 {
    margin-bottom: 0;
    font-weight: 400;
  }

  p {
    margin-bottom: 0;
    font-size: 1.2rem;
    @include screen(small) {
      font-size: 1rem;
      text-align: center;
    }
  }

  .industries {
    text-align: center;

    .industry {
      transition: 0.8s;
      background-size: cover;
      background-position: center;
      margin: 2rem 0;

      img {
        width: 64px;
        margin-bottom: 1rem;
      }
      span {
        cursor: default;
        display: inline-block;
        margin: auto;
        font-size: 1.2rem !important;
      }
    }
  }
   
}


.last-carousel {
  margin-top: 5rem;
  position: relative;
  width: 100%;
  min-height: 75vh;
  .reward-image,
  .reward-info,
  .next-reward,
  .prev-reward {
    position: absolute;
  }
  .reward-image {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: 0.3s;
    // filter: blur(4px);
  }

  .reward-info {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 2rem;
    color: white;
    transition: 0.3s;
    transform-origin: center;
    backdrop-filter: blur(25px) brightness(0.5);
    @include screen(small) {
      width: 100%;
    }

    .reward-info-area {
      text-align: center;
      margin: auto;

      .reward-name {
        font-size: 1rem;
      }
      .reward-value {
        font-size: 2rem;
        &:after {
          content: "PGV";
          position: absolute;
          font-size: 1rem;
        }
      }
      .reward-desc {
        font-size: 2rem;
      }

      img {
        width: 124px;
      }

      ul {
        margin-top: 5rem;
        text-align: start;
        li {
          list-style: none;
          &:before {
            content: "+";
            margin-right: 5px;
          }
        }
      }
    }
  }

  .next-reward,
  .prev-reward {
    img {
      width: 32px;
      transition: 0.2s;
      &:hover {
        cursor: pointer;
        transform: scale(1.1);
      }
    }
  }

  .next-reward {
    top: 50%;
    right: 24px;
  }
  .prev-reward {
    top: 50%;
    left: 24px;
  }
}

.ready {
  padding: 2rem;
  background: url(https://res.cloudinary.com/sapiangroup/image/upload/w_1200,f_auto,q_auto/v1598163494/OLLORUN_IMAGES/images/img/BG/BG_02_ollorun_yxijgr.jpg)
    no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  span {
    font-size: 2rem;
    @include screen(small) {
      font-size: 1.4rem;
    }
  }
  a {
    display: inline-block;
    margin-top: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
    &:hover {
      color: $accent;
      background-color: white;
    }
  }
}

//animation helpers
.full-width-left {
  background: linear-gradient(
    -45deg,
    rgba(0, 239, 220, 1) 0%,
    rgba(0, 148, 244, 1) 100%
  ) !important;
  width: 100% !important;
  height: auto !important;
  opacity: 1 !important;
  padding: 2rem 0;
}

.full-width-right {
  width: 100% !important;
  height: auto !important;
  opacity: 1 !important;
  background: $w-color !important;
  padding: 2rem 0;
}

.full-scale {
  transition: 0.3s;
  transform: scale(1) !important;
}

.zero-scale {
  transition: 0.3s;
  transform: scale(0) !important;
  width: 0 !important;
}

.top-right-close {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 1rem;
  border-radius: 50rem;
}

.intro-mobile {
  display: none;

  @include screen(medium) {
    display: block;
  }
}

.mt {
  margin-top: 15rem !important;
}

//old css
.sec-9 {
  text-align: center;
  h4 {
    margin-top: 0;
  }
}

.package {
  .wealth-package {
    @include screen(small) {
      font-size: 0.8rem !important;
      margin: 6px 0 6px 16px !important;
    }
  }

  .package-name {
    @include screen(small) {
      font-size: 1rem !important;
    }
  }
  p {
    @include screen(small) {
      font-size: 0.6rem !important;
      margin: 2px 8px !important;
    }
  }
  .select-button {
    @include screen(small) {
      font-size: 0.7rem !important;
      padding: 5px !important;
    }
  }
}

.stat {
  @include screen(small) {
    margin: 1rem 0 !important;
    .days {
      background: none !important;
      h6 {
        background: linear-gradient(95deg, #e6cd6b 0%, #837241 88%) !important;
        padding: 5px !important;
        border-radius: 50rem;
      }
    }
  }

  @include screen(medium) {
    margin: 1rem 0.5rem !important;
  }
}

.navigator{
  position: fixed;
z-index: 8000;
right: 40px;
top: 50%;
width: 26px;
-webkit-transform: translateY(-50%);
-moz-transform: translateY(-50%);
-ms-transform: translateY(-50%);
transform: translateY(-50%);
text-align: right;

  .rightnav{
    display: block;
position: relative;
z-index: 9999;
color: rgba(221,197,110,1);
width: 13px;
height: 13px;
outline: none;
margin: 25px 0;
border-radius: 50%;
border: 2px solid rgba(221,197,110,1);
-webkit-transition: all .5s;
-moz-transition: all .5s;
transition: all .5s;
  }
  .current{
    background: #fe495a !important;
border: 2px solid #fe495a !important;
  }
  @include screen(medium) {
    display: flex;
    top: 98%;
    width: 100%;
    right: 0%;
    left: 0%;
    justify-content: center;
    .rightnav{
 
  outline: none;
  margin: 10px ;
  border-radius: 50%;
  border: 2px solid rgba(221,197,110,1);
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
    }
  }
}