@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400&display=swap");
.pentagons {
  width: 100%;
  padding-bottom: 50px;
  background: url(https://res.cloudinary.com/buddhidev/image/upload/w_1200,f_auto,q_auto/v1622578203/Ollorun/plan-min_butg6c.png) no-repeat fixed bottom center;
  background-size: cover;
  text-align: justify;
  text-align-last: center;
}

.pentagons p {
  color: #3120a9;
  font-size: 20px;
}

.pentagons .mobile-only h6 {
  color: #3120a9;
}

.pentagons .btn-row {
  position: relative;
  top: -50%;
}

.sec-9 {
  text-align: center;
}

.sec-9 h6 {
  font-weight: bold;
}

.sec-9 .topic {
  color: #3120a9;
}

.sec-9 h1 {
  text-align: center;
  color: #3120a9;
}

.sec-9 {
  text-align: left;
}

.sr-only {
  display: none;
}

.sec-3 {
  margin-top: 1rem;
}

.sec-3 h5 {
  color: #e52564;
  font-weight: 400 !important;
  text-align: center;
  margin-top: 5%;
}

.sec-3 .package {
  margin-top: 1rem;
  color: #3120a9;
  background-color: white;
  padding: 1rem;
  -webkit-box-shadow: 0 0 20px rgba(0, 17, 255, 0.2);
  box-shadow: 0 0 20px rgba(0, 17, 255, 0.2);
  border-radius: 0.3rem;
}

.sec-3 .package .dot {
  width: 25px;
  height: 25px;
  border-radius: 25px;
  margin: 0 !important;
  border: 1px solid #9013FE;
}

.sec-3 .package .dot:hover {
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  background: #9013FE;
}

.sec-3 .package .package-name {
  margin-top: 1rem;
  text-align: center;
  font-size: 2rem;
  color: #e52564;
  font-family: "Oswald", sans-serif;
}

.sec-3 .package .select-button {
  width: 100%;
  padding: 1rem;
  border: none;
  margin-top: 1rem;
  border-radius: 0.2rem;
  background: -webkit-gradient(linear, left top, right top, from(#3023AE), color-stop(35%, #3023AE), to(#9013FE));
  background: linear-gradient(90deg, #3023AE 0%, #3023AE 35%, #9013FE 100%);
  color: white;
  letter-spacing: 0.1rem;
}

.sec-3 .package .select-button:hover {
  cursor: pointer !important;
}

.sec-3 .package .package-data {
  padding: 0;
  font-size: 0.8rem;
}

.sec-3 .package .package-data .yearprofit,
.sec-3 .package .package-data .o-rate {
  float: right;
}

.sec-3 .color-dot {
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  background: #e52564;
}

.sec-3 .range-wrap h5 {
  text-align: left;
  margin: 2rem 0;
  color: #3120a9;
}

.sec-3 .range-wrap .range-slider {
  -webkit-appearance: none;
  width: 100%;
  background: rgba(42, 7, 196, 0.151);
  border: 1px solid #3120a9;
  border-radius: 25px;
  height: 15px;
  -webkit-animation: 1s gradient ease infinite !important;
  animation: 1s gradient ease infinite !important;
}

.sec-3 .range-wrap .range-slider:hover {
  cursor: pointer;
}

.sec-3 .range-wrap .range-slider:focus {
  outline: none;
}

.sec-3 .range-wrap .range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  display: block;
  background-color: #f7f7f7;
  border: 1px solid #e52564;
  width: 35px;
  height: 35px;
  position: relative;
  text-align: center;
  line-height: 144px;
  border-radius: 50%;
}

.sec-3 .range-wrap .range-slider::-moz-range-thumb {
  display: block;
  width: 35px;
  height: 35px;
  border: 1px solid #e52564;
  position: relative;
  text-align: center;
  line-height: 144px;
  border-radius: 50%;
}

.sec-3 .yearstats .days {
  background: -webkit-gradient(linear, left top, right top, from(#3023AE), color-stop(35%, #3023AE), to(#9013FE));
  background: linear-gradient(90deg, #3023AE 0%, #3023AE 35%, #9013FE 100%);
  padding: 0 1rem;
  border-radius: 25px;
  text-align: center;
}

.sec-3 .yearstats .days h6 {
  color: white;
  margin-top: 0.5rem;
}

.sec-3 .yearstats .percentage h3 {
  color: #e52564;
  text-align: center;
  margin-top: 1rem;
}

.sec-3 .yearstats .stat {
  font-weight: 500;
  margin: 1rem 2rem;
}

.sec-3 .yearstats .stat .stat-data {
  margin-top: 0.1rem;
}

.sec-3 .yearstats .stat .stat-data .data-name {
  float: left;
}

.sec-3 .yearstats .stat .stat-data .value {
  float: right;
}

.sec-3 .yearstats .stat .stat-data .doller-value::before {
  content: "€";
}

.pentagon {
  margin-right: 5rem;
}

.range-wrap h5 {
  text-align: left;
  margin: 2rem 0;
  color: #3120a9;
}

.range-wrap .range-slider {
  -webkit-appearance: none;
  width: 100%;
  background: rgba(42, 7, 196, 0.151);
  border: 1px solid #3120a9;
  border-radius: 25px;
  height: 15px;
  -webkit-animation: 1s gradient ease infinite !important;
  animation: 1s gradient ease infinite !important;
}

.range-wrap .range-slider:hover {
  cursor: pointer;
}

.range-wrap .range-slider:focus {
  outline: none;
}

.range-wrap .range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  display: block;
  background-color: #f7f7f7;
  border: 1px solid #e52564;
  width: 35px;
  height: 35px;
  position: relative;
  text-align: center;
  line-height: 144px;
  border-radius: 50%;
}

.range-wrap .range-slider::-moz-range-thumb {
  display: block;
  width: 35px;
  height: 35px;
  border: 1px solid #e52564;
  position: relative;
  text-align: center;
  line-height: 144px;
  border-radius: 50%;
}

@media (min-width: 992px) {
  .sec-1 {
    height: 100vh;
  }
  .sec-9 {
    text-align: left;
  }
  .pentagon {
    margin-right: 5rem;
  }
  .sec-change {
    margin-top: 4rem !important;
  }
  .sec-4 img {
    width: 75%;
    margin-left: 3rem !important;
  }
  .sec-2-img-1 {
    background-position-y: -450px !important;
  }
  .products-header {
    margin-top: 80px;
  }
}

.sec-reward {
  text-align: center;
  margin-top: 5rem;
  position: relative;
}

.sec-reward h6 {
  color: #e52564;
  text-align: center;
  margin-bottom: 4rem !important;
}

.sec-reward h2 {
  font-size: 3rem;
  margin-left: 1rem;
  background: -webkit-linear-gradient(45deg, #e6cd6b 0%, #837241 88%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sec-reward h2::after {
  content: "PGV";
  background-image: -webkit-linear-gradient(45deg, #3120a9 0%, #3120a9 88%) !important;
  vertical-align: top;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 18px;
}

.sec-reward .badge {
  width: 124px;
  margin-bottom: 1rem;
}

.sec-reward p {
  font-size: 14px;
}

.sec-reward .reward-name {
  margin-top: 2rem;
}

.sec-reward .btns {
  bottom: 0;
  position: absolute;
}

.footer {
  background-color: #3120a9;
  padding: 2rem;
}

.footer p {
  color: white;
}

.footer p img {
  width: 24px;
  margin-right: 0.5rem !important;
}

.footer .footer-logo {
  text-align: center;
  width: 164px;
}

.footer ul {
  padding-left: 0 !important;
  color: white;
  list-style: none;
}

.footer ul li {
  margin-top: 1rem;
}

.footer ul li a {
  text-decoration: none;
  color: white;
}

.footer .footer-social {
  margin-top: 9rem;
}

.footer .footer-social a {
  margin: 0 0.3rem;
}

.footer .footer-social a img {
  width: 46px;
  height: 46px;
}

a {
  color: white;
}

a:hover {
  color: white;
}

.btn-div {
  padding: 10px;
  border: solid #bb16de 2px;
  border-radius: 10px;
  color: #000000;
}

.btn-div:hover {
  background: #bb16de;
  color: white;
}

.kit {
  color: #e52564;
  border: solid #e52564 2px;
}

@media screen and (max-width: 576px) {
  .kit {
    color: white;
  }
}

.kit:hover {
  color: white;
  background-color: #e52564;
}

@media screen and (max-width: 576px) {
  .kit:hover {
    color: white;
  }
}

.pannel-1 {
  overflow-x: hidden;
  height: 100vh;
  text-align: justify;
  text-align-last: center;
  top: 0;
}

.pannel-1 .w-side {
  background-color: white;
  -webkit-transition: 2s;
  transition: 2s;
}

.pannel-1 .w-side:hover {
  background-color: #4a108b;
  color: white;
  -webkit-transition: 2s;
  transition: 2s;
}

.pannel-1 .w-side:hover .btn-div {
  color: white;
}

.pannel-1 .h-side {
  background-color: white;
  -webkit-transition: 2s;
  transition: 2s;
}

.pannel-1 .h-side:hover {
  background-color: #4a108b;
  color: white;
  -webkit-transition: 2s;
  transition: 2s;
}

.pannel-1 .h-side:hover .btn-div {
  color: white;
}

.pannel-1 .hw-content h4 {
  color: white;
}

.pannel-1 .hw-content h5 {
  color: white;
}

.pannel-1 .hw-content .img-div {
  padding: 15px 5px;
}

.pannel-1 .hw-content .img-div img {
  width: 50%;
  padding: 20px;
  top: 0;
}

@media screen and (max-width: 576px) {
  .pannel-1 .hw-content .img-div img {
    width: 100%;
  }
}

.pannel-1 .hw-content .btn-explore {
  padding: 10px 20px;
  border: 2px solid white;
}

@media screen and (max-width: 576px) {
  .pannel-1 {
    height: 60vh;
  }
}

.pannel-2 {
  height: 100vh;
}

.pannel-2 .side-img_div {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#200a41), color-stop(#490a69), to(#3120a9));
  background-image: linear-gradient(to right bottom, #200a41, #490a69, #3120a9);
  background-size: cover;
  padding-top: 10px;
}

.pannel-2 .side-img_div img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 120%;
  height: 100%;
}

@media screen and (max-width: 576px) {
  .pannel-2 .side-img_div {
    height: 50%;
    width: 90%;
  }
  .pannel-2 .side-img_div img {
    width: 115%;
    height: 100%;
  }
}

.pannel-2 .oppatumity {
  width: 100%;
  padding: 32px;
  padding-top: 1200px;
}

.pannel-2 h4 {
  color: #3120a9;
  text-align: center !important;
}

.pannel-2 .why {
  font-size: 36px;
  font-family: Heebo-light;
  text-align: center !important;
}

.pannel-2 p {
  margin-top: 16px;
  text-align: justify;
  text-align-last: center;
}

.pannel-2 .oppatumity-img {
  margin-left: 32px;
  margin-top: 32px;
  width: 100%;
}

.pannel-3 {
  height: 100vh;
}

@media screen and (max-width: 576px) {
  .pannel-3 {
    height: auto;
  }
}

.pannel-3 .content-right p {
  margin-bottom: 3rem;
}

.pannel-3 .content-left {
  margin-top: 10%;
}

.pannel-3 .pannel-button {
  text-align: left;
  border: none;
  margin: 20px;
  color: white;
  padding: 16px 16px;
  width: 100%;
  background-color: #6d527a;
  background: #925cad;
  background: -webkit-gradient(linear, left top, left bottom, from(#925cad), to(#200a41));
  background: linear-gradient(180deg, #925cad 0%, #200a41 100%);
  border-radius: 10px;
  -webkit-box-shadow: 0 5px 20px rgba(1, 1, 1, 0.5);
          box-shadow: 0 5px 20px rgba(1, 1, 1, 0.5);
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.pannel-3 .pannel-button img {
  width: 25%;
}

.pannel-3 .pannel-button p {
  margin: auto;
  text-align: center;
}

@media screen and (max-width: 576px) {
  .pannel-3 .pannel-button {
    margin-left: 0px;
  }
}

.pannel-3 .pannel-button:hover {
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: scale(1.05) !important;
          transform: scale(1.05) !important;
}

.pannel-3 .pannel-button:focus {
  outline: none;
  border: 1px solid #3120a9;
}

.pannel-4 .mobile-back {
  background: -webkit-gradient(linear, right bottom, left top, from(#200a41), color-stop(#490a69), to(#3120a9));
  background: linear-gradient(to left top, #200a41, #490a69, #3120a9);
  display: none;
  height: 160%;
  z-index: 0;
  position: absolute;
}

@media screen and (max-width: 576px) {
  .pannel-4 .mobile-back {
    display: block;
    height: 100%;
    filter: blur(4px);
    -webkit-filter: blur(8px);
  }
}

.pannel-4 .side {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#200a41), color-stop(#490a69), to(#3120a9));
  background-image: linear-gradient(to right top, #200a41, #490a69, #3120a9);
}

.pannel-4 .side img {
  width: 130%;
  margin-left: 10%;
  position: -webkit-sticky;
  position: sticky;
  top: 10%;
}

@media screen and (max-width: 576px) {
  .pannel-4 {
    z-index: 0;
    background: -webkit-gradient(linear, right bottom, left top, from(#200a41), color-stop(#490a69), to(#3120a9));
    background: linear-gradient(to left top, #200a41, #490a69, #3120a9);
    height: auto;
  }
  .pannel-4 .side {
    display: none;
  }
}

.pannel-4 .why-headings {
  text-align: center;
}

@media screen and (max-width: 576px) {
  .pannel-4 .why-headings h4 {
    color: white;
  }
}

.pannel-4 .w-div {
  -webkit-box-shadow: 0 5px 20px rgba(221, 197, 110, 0.25);
          box-shadow: 0 5px 20px rgba(221, 197, 110, 0.25);
}

.pannel-4 .h-div {
  -webkit-box-shadow: 0 5px 20px rgba(9, 107, 163, 0.25);
          box-shadow: 0 5px 20px rgba(9, 107, 163, 0.25);
}

.universe {
  text-align: justify;
  text-align-last: center;
  border: none;
  margin: 4px;
  padding: 16px 16px;
  width: 100%;
  height: 100%;
  background-color: #660099;
  color: white;
  border-radius: 10px;
  -webkit-box-shadow: 0 5px 20px rgba(1, 1, 1, 0.5);
          box-shadow: 0 5px 20px rgba(1, 1, 1, 0.5);
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.pannel-5 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#200a41), color-stop(#490a69), to(#3120a9));
  background-image: linear-gradient(to right bottom, #200a41, #490a69, #3120a9);
}

.pannel-5 h4 {
  text-transform: uppercase;
  color: white;
  font-weight: 400;
  font-size: 2.5rem;
}

.pannel-5 .heding {
  text-align: center;
}

.pannel-5 .btn-row {
  z-index: 101;
  top: 45%;
}

.pannel-5 .btn-row .nav-btn {
  width: 50px;
  height: 50px;
  background-color: #490272;
  border-radius: 50%;
  font-size: 2rem;
  color: white;
  padding: auto;
  cursor: pointer;
}

.pannel-5 .btn-row .btn-l {
  left: 0%;
}

.pannel-5 .btn-row .btn-r {
  right: 0%;
}

.pannel-5 .content {
  height: 75vh;
  border-radius: 50px;
  -webkit-box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.25) !important;
          box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.25) !important;
  overflow: hidden;
  position: relative;
  background-color: #000000;
}

.pannel-5 .content .slider-item {
  width: 100%;
  height: 100%;
  -webkit-transition: 1s;
  transition: 1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  float: left;
  left: 100;
}

@media screen and (max-width: 576px) {
  .pannel-5 .content .slider-item {
    display: block;
  }
}

.pannel-5 .content .active-b {
  -webkit-animation: right-to-center 1.5s cubic-bezier(0.72, 0.16, 0.46, 0.98);
  animation: right-to-center 1.5s cubic-bezier(0.72, 0.16, 0.46, 0.98);
  z-index: 100;
}

.pannel-5 .content .inactive-b {
  -webkit-animation: center-to-left 1.5s cubic-bezier(0.72, 0.16, 0.46, 0.98);
  animation: center-to-left 1.5s cubic-bezier(0.72, 0.16, 0.46, 0.98);
  z-index: 20;
}

.pannel-5 .content .active-f {
  -webkit-animation: left-to-center 1.5s cubic-bezier(0.72, 0.16, 0.46, 0.98);
  animation: left-to-center 1.5s cubic-bezier(0.72, 0.16, 0.46, 0.98);
  z-index: 100;
}

.pannel-5 .content .inactive-f {
  -webkit-animation: center-to-right 1.5s cubic-bezier(0.72, 0.16, 0.46, 0.98);
  animation: center-to-right 1.5s cubic-bezier(0.72, 0.16, 0.46, 0.98);
  z-index: 20;
}

@-webkit-keyframes left-to-center {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}

@-webkit-keyframes center-to-right {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}

@-webkit-keyframes right-to-center {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}

@-webkit-keyframes center-to-left {
  from {
    right: 0;
  }
  to {
    right: 100%;
  }
}

@keyframes center-to-right {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}

@keyframes left-to-center {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}

@keyframes center-to-left {
  from {
    right: 0;
  }
  to {
    right: 100%;
  }
}

@keyframes right-to-center {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}

.pannel-5 .content .slider-item_side {
  background-image: -webkit-gradient(linear, right bottom, left top, from(#200a41), color-stop(#490a69), to(#3120a9));
  background-image: linear-gradient(to left top, #200a41, #490a69, #3120a9);
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.pannel-5 .content .slider-item_side img {
  margin: auto;
}

@media screen and (max-width: 576px) {
  .pannel-5 .content .slider-item_side {
    height: 50%;
  }
}

.pannel-5 .content .slider-item_side_l {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#200a41), color-stop(#490a69), to(#3120a9));
  background-image: linear-gradient(to right top, #200a41, #490a69, #3120a9);
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pannel-5 .content .slider-item_side_l img {
  margin: auto;
}

@media screen and (max-width: 576px) {
  .pannel-5 .content .slider-item_side_l {
    height: 50%;
    display: none;
  }
}

.pannel-5 .content .slider-item_side_r {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#000000), to(#320863));
  background-image: linear-gradient(to right top, #000000, #320863);
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pannel-5 .content .slider-item_side_r img {
  margin: auto;
}

@media screen and (max-width: 576px) {
  .pannel-5 .content .slider-item_side_r {
    height: 50%;
    display: block;
  }
}

.pannel-5 .content .slider-item_content {
  text-align: center;
  background-color: white;
  height: 100%;
}

.pannel-5 .content .slider-item_content .text {
  margin: 20%;
  margin-top: 25%;
}

.pannel-5 .content .slider-item_content .text h6 {
  color: #320863;
  font-size: 2rem;
}

@media screen and (max-width: 576px) {
  .pannel-5 .content .slider-item_content .text {
    padding: 10%;
    padding-top: 4%;
    margin: auto;
  }
}

@media screen and (max-width: 576px) {
  .pannel-5 .content .slider-item_content {
    height: 50%;
  }
}

.pannel-5 .slider-indicaters .slider-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 5px;
  background-color: rgba(0, 0, 0, 0.25);
}

.pannel-5 .slider-indicaters .active {
  background-color: rgba(255, 255, 255, 0.75);
}

.pannel-6 {
  height: 120vh;
  overflow-y: visible;
}

@media screen and (max-width: 576px) {
  .pannel-6 {
    height: auto;
  }
}

.pannel-6 .network-heading {
  text-align: center;
}

.pannel-6 .three_items {
  height: 75px;
}

@media screen and (max-width: 576px) {
  .pannel-6 .three_items {
    height: auto;
  }
}

.pannel-6 .social {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  margin-top: 20%;
}

.pannel-6 .social .text {
  text-align: center;
}

.pannel-6 .social .icons {
  text-align: center;
}

.pannel-6 .social .icons a {
  padding: 2%;
}

.pannel-6 .social .icons img {
  width: 10%;
}

.pannel-6 .side {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#200a41), color-stop(#490a69), to(#3120a9));
  background-image: linear-gradient(to right bottom, #200a41, #490a69, #3120a9);
}

.pannel-6 .side img {
  width: 132%;
  margin-left: -35%;
  bottom: -4%;
  position: absolute;
}

@media screen and (max-width: 768px) {
  .pannel-6 .side img {
    bottom: -1.8%;
  }
}

@media screen and (max-width: 576px) {
  .pannel-6 .side img {
    width: 100%;
    margin-left: 0%;
    position: relative;
    bottom: -4%;
  }
}

.pannel-7 {
  text-align: center;
  padding-bottom: 50px;
}

.pannel-7 h5 {
  margin-top: 0;
  color: white;
}

.pannel-7 h4 {
  color: white;
}

.pannel-7 .networks-img {
  margin-top: 2rem;
}

.pack-top {
  background: -webkit-gradient(linear, right top, left bottom, from(#200a41), color-stop(#490a69), to(#3120a9));
  background: linear-gradient(to left bottom, #200a41, #490a69, #3120a9);
  height: 60vh;
  color: white;
}

.pack-top h4 {
  color: white;
  font-weight: 400;
  font-size: 1.5rem;
}

.pack-top .to-store-btn {
  margin: auto;
  background: #e52564;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  color: white;
  font-size: 1.25rem;
  margin-top: -20px;
}

.product img {
  border-radius: 10px 10px 0px 0px;
}

.product .price {
  width: 100%;
  text-align: left;
  margin: 0;
  margin-top: 1rem;
  margin-left: 10px;
}

.product .pv {
  width: 100%;
  text-align: right;
  margin: 0;
  margin-top: 1rem;
  margin-right: 10px;
}

nav {
  background-color: #3120a9;
  padding: 0.5rem 1rem !important;
}

@-webkit-keyframes nav-color {
  from {
    background-color: none;
  }
  to {
    background-color: #3120a9;
  }
}

@keyframes nav-color {
  from {
    background-color: none;
  }
  to {
    background-color: #3120a9;
  }
}

nav span:focus {
  outline: none !important;
}

nav .navbar-toggler-icon {
  width: 32px !important;
  height: 32px !important;
  background: url(https://res.cloudinary.com/sapiangroup/image/upload/w_auto,f_auto,q_auto/v1598163563/OLLORUN_IMAGES/images/elements/ham_y9sttw.svg) no-repeat !important;
  background-size: cover !important;
}

nav .navbar-brand img {
  width: 124px;
}

nav ul li a {
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-right: 1rem;
}

nav ul li a:hover {
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

nav ul .join-btn {
  background-color: #e52564;
  padding: 0.4rem 3rem !important;
  border-radius: 4px;
}

::-webkit-scrollbar {
  width: 0.30rem;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #3120a9;
}

::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background: #e52564;
}

h1,
h2,
h3,
h5,
h6 {
  font-weight: 300;
  margin: 1rem 0;
}

h4 {
  text-transform: uppercase;
  color: #3120a9;
  font-weight: 400;
  font-size: 2.5rem;
}

h5 {
  color: #e52564;
  margin-bottom: 0;
  font-weight: 400;
}

@media screen and (max-width: 576px) {
  h2 {
    font-size: 1.2rem;
  }
}

button, .accent-btn {
  text-decoration: none;
  color: white;
  background-color: #e52564;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 4px;
  font-size: 0.9rem;
  text-transform: uppercase;
  -webkit-transition: .3s;
  transition: .3s;
}

button:hover, .accent-btn:hover {
  -webkit-box-shadow: 0 5px 15px 5px rgba(229, 37, 100, 0.2);
          box-shadow: 0 5px 15px 5px rgba(229, 37, 100, 0.2);
}

a {
  text-decoration: none !important;
}

.a-btn {
  margin-top: 0.5rem;
  width: 100%;
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: none;
  text-align: center;
  padding: 0.2rem 1rem;
  border: 2px solid white;
  border-radius: 2px;
  font-size: 0.9rem;
  text-transform: uppercase;
  -webkit-transition: .3s;
  transition: .3s;
}

.a-btn:hover {
  color: white;
  -webkit-box-shadow: 0 5px 15px 5px rgba(229, 37, 100, 0.2);
          box-shadow: 0 5px 15px 5px rgba(229, 37, 100, 0.2);
}

.tile {
  border: none;
  border-radius: 4px;
  padding: 1rem;
  background-color: red;
}

.accent-text {
  color: #e52564;
}

.accent-bg {
  background-color: #e52564;
}

.main-text {
  color: #3120a9;
}

.main-bg {
  background-color: #3120a9;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: url(https://res.cloudinary.com/dmeppscpx/image/upload/w_1200,f_auto,q_auto,o_30/v1617615233/BG-1_wqrh99.jpg);
  margin: 0;
  padding: 0;
  font-family: "Heebo", sans-serif !important;
  font-size: 16px !important;
}

.top {
  position: relative;
  min-width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-size: cover;
  background-color: white;
  color: black;
}

.top video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-animation: video-blur 26s forwards;
          animation: video-blur 26s forwards;
}

@-webkit-keyframes video-blur {
  75% {
    opacity: 1;
  }
  80% {
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 0.5;
  }
  100% {
    -webkit-filter: blur(15px);
            filter: blur(15px);
    opacity: 0;
  }
}

@keyframes video-blur {
  75% {
    opacity: 1;
  }
  80% {
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 0.5;
  }
  100% {
    -webkit-filter: blur(15px);
            filter: blur(15px);
    opacity: 0;
  }
}

.top .video-overlay-1,
.top .video-overlay-2 {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: black;
  -webkit-animation: opac 30s ease-in forwards;
          animation: opac 30s ease-in forwards;
  opacity: 1;
}

@-webkit-keyframes opac {
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes opac {
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.top .video-overlay-2 {
  opacity: 0.4;
}

.top .content {
  z-index: 999;
  text-align: center;
}

.top .content h2 {
  margin-top: 2rem;
  -webkit-transform: translate(0);
          transform: translate(0);
  opacity: 0;
  color: white;
  -webkit-animation: ease-text 30s ease-in forwards;
          animation: ease-text 30s ease-in forwards;
}

@-webkit-keyframes ease-text {
  95% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 0;
    color: black;
  }
  100% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    opacity: 1;
    color: black;
  }
}

@keyframes ease-text {
  95% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 0;
    color: black;
  }
  100% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    opacity: 1;
    color: black;
  }
}

.top .content .logo {
  -webkit-transform: scale(0.4);
          transform: scale(0.4);
  opacity: 0;
  -webkit-animation: reveal-logo 28s forwards;
          animation: reveal-logo 28s forwards;
}

@-webkit-keyframes reveal-logo {
  80% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes reveal-logo {
  80% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.top .content .logo img {
  width: 50%;
}

.top .content .explore {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 5rem;
  top: 80%;
}

.top .content .explore .explore-btn {
  background: none;
  border: 2px solid white;
  padding: 0.8rem 5rem;
  border-radius: 4px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: white;
  -webkit-animation: 1s glow-btn 30s forwards;
          animation: 1s glow-btn 30s forwards;
}

@-webkit-keyframes glow-btn {
  from {
    background: none;
    border: 2px solid white;
  }
  to {
    border: none;
    background-color: #e52564;
  }
}

@keyframes glow-btn {
  from {
    background: none;
    border: 2px solid white;
  }
  to {
    border: none;
    background-color: #e52564;
  }
}

.top .content .explore .explore-btn:hover {
  border: none;
  background-color: #e52564;
}

.intro-desktop .wh-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.intro-desktop .wh-content .left-behind,
.intro-desktop .wh-content .right-behind {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 50%;
  min-height: 100vh;
  background-color: white;
  z-index: 800;
}

.intro-desktop .wh-content .left-behind .wh-content,
.intro-desktop .wh-content .right-behind .wh-content {
  text-align: center;
}

.intro-desktop .wh-content .left-behind .wh-content img,
.intro-desktop .wh-content .right-behind .wh-content img {
  width: 40%;
}

.intro-desktop .left-behind {
  top: 0;
  left: 0;
}

.intro-desktop .right-behind {
  top: 0;
  right: 0;
}

.intro-desktop .left,
.intro-desktop .right {
  position: absolute;
  width: 50%;
  height: 100vh;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;
  opacity: 0;
  padding: 5rem;
}

@media screen and (max-width: 576px) {
  .intro-desktop .left,
  .intro-desktop .right {
    padding: 5rem 0;
  }
}

.intro-desktop .left .intro,
.intro-desktop .right .intro {
  position: absolute;
  top: 25%;
  left: 25%;
}

.intro-desktop .left h4,
.intro-desktop .right h4 {
  color: white;
  text-shadow: 0 2px 1px black;
}

@media screen and (max-width: 576px) {
  .intro-desktop .left h4,
  .intro-desktop .right h4 {
    font-size: 1.2rem;
  }
}

.intro-desktop .left button,
.intro-desktop .right button {
  background: none;
  border: 2px solid white;
}

.intro-desktop .left .w-close,
.intro-desktop .left .h-close,
.intro-desktop .right .w-close,
.intro-desktop .right .h-close {
  position: absolute;
  top: 20px;
  width: 2rem;
  height: 2rem;
  border-radius: 50rem;
  cursor: pointer;
  background-color: white;
  background-image: url(https://pics.freeicons.io/uploads/icons/png/17115838791536572526-512.png);
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.intro-desktop .left .w-close:hover,
.intro-desktop .left .h-close:hover,
.intro-desktop .right .w-close:hover,
.intro-desktop .right .h-close:hover {
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.intro-desktop .left .w-close,
.intro-desktop .right .w-close {
  right: 20px;
}

.intro-desktop .left .h-close,
.intro-desktop .right .h-close {
  left: 20px;
}

.intro-desktop .left {
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: linear-gradient(-45deg, #00efdc 0%, #0094f4 100%);
  background-image: url(https://store.ollorun.com//image/catalog/new%20files%20png/entete%20produits/Ollorun_H.png);
  -webkit-box-shadow: 15px 0 15px rgba(0, 0, 0, 0.1);
          box-shadow: 15px 0 15px rgba(0, 0, 0, 0.1);
  background-size: cover;
  background-position: center;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.intro-desktop .left:hover {
  opacity: 1;
  width: 60%;
}

.intro-desktop .right {
  top: 0;
  right: 0;
  background-color: white;
  -webkit-box-shadow: -15px 0 15px rgba(0, 0, 0, 0.1);
          box-shadow: -15px 0 15px rgba(0, 0, 0, 0.1);
  background: -webkit-gradient(linear, left top, right top, from(#aa9400), color-stop(0%, #ddc56e), to(#837028));
  background: linear-gradient(90deg, #aa9400 0%, #ddc56e 0%, #837028 100%);
  -webkit-transform-origin: right;
          transform-origin: right;
  background-size: cover;
  background-position: center;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.intro-desktop .right .carousel-control-prev,
.intro-desktop .right .carousel-control-next {
  height: 20px;
}

.intro-desktop .right:hover {
  background-color: #ddc56e;
  background-image: url(https://store.ollorun.com//image/catalog/category%20pix/Ollorun_W.png);
  opacity: 1;
  width: 60%;
}

.intro-desktop .h-packs,
.intro-desktop .w-packs {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.intro-desktop .w-packs {
  width: 100%;
}

.intro-desktop .w-packs .tab-content {
  margin-top: 2rem;
}

.intro-desktop .w-packs .nav-pills .nav-link.active,
.intro-desktop .w-packs .nav-pills .show > .nav-link {
  background-color: #3120a9 !important;
  width: 100%;
  text-align: center;
}

.intro-desktop .w-packs .nav-link-1 {
  border-radius: 5px 0 0 5px;
}

.intro-desktop .w-packs .nav-link-3 {
  border-radius: 0 5px 5px 0;
}

.intro-desktop .w-packs button {
  border: none;
  border-radius: 0;
  margin: 0 2rem;
}

.intro-desktop .w-packs button:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.pack {
  margin-top: 2rem;
  font-size: 0.9rem;
}

.pack span {
  text-overflow: ellipsis;
  white-space: nowrap;
  max-lines: 1;
}

.pack img {
  width: 100%;
}

.pack button {
  width: 100%;
  margin-top: 0.4rem;
  padding: 0.3rem 1.2rem;
}

.company {
  margin-top: 5rem;
}

.company h5 {
  margin-bottom: 0;
  font-weight: 400;
}

.company p {
  margin-bottom: 0;
  font-size: 1.2rem;
}

@media screen and (max-width: 576px) {
  .company p {
    font-size: 1rem;
    text-align: center;
  }
}

.company .industries {
  text-align: center;
}

.company .industries .industry {
  -webkit-transition: 0.8s;
  transition: 0.8s;
  background-size: cover;
  background-position: center;
  margin: 2rem 0;
}

.company .industries .industry img {
  width: 64px;
  margin-bottom: 1rem;
}

.company .industries .industry span {
  cursor: default;
  display: inline-block;
  margin: auto;
  font-size: 1.2rem !important;
}

.last-carousel {
  margin-top: 5rem;
  position: relative;
  width: 100%;
  min-height: 75vh;
}

.last-carousel .reward-image,
.last-carousel .reward-info,
.last-carousel .next-reward,
.last-carousel .prev-reward {
  position: absolute;
}

.last-carousel .reward-image {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.last-carousel .reward-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 2rem;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-backdrop-filter: blur(25px) brightness(0.5);
          backdrop-filter: blur(25px) brightness(0.5);
}

@media screen and (max-width: 576px) {
  .last-carousel .reward-info {
    width: 100%;
  }
}

.last-carousel .reward-info .reward-info-area {
  text-align: center;
  margin: auto;
}

.last-carousel .reward-info .reward-info-area .reward-name {
  font-size: 1rem;
}

.last-carousel .reward-info .reward-info-area .reward-value {
  font-size: 2rem;
}

.last-carousel .reward-info .reward-info-area .reward-value:after {
  content: "PGV";
  position: absolute;
  font-size: 1rem;
}

.last-carousel .reward-info .reward-info-area .reward-desc {
  font-size: 2rem;
}

.last-carousel .reward-info .reward-info-area img {
  width: 124px;
}

.last-carousel .reward-info .reward-info-area ul {
  margin-top: 5rem;
  text-align: start;
}

.last-carousel .reward-info .reward-info-area ul li {
  list-style: none;
}

.last-carousel .reward-info .reward-info-area ul li:before {
  content: "+";
  margin-right: 5px;
}

.last-carousel .next-reward img,
.last-carousel .prev-reward img {
  width: 32px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.last-carousel .next-reward img:hover,
.last-carousel .prev-reward img:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.last-carousel .next-reward {
  top: 50%;
  right: 24px;
}

.last-carousel .prev-reward {
  top: 50%;
  left: 24px;
}

.ready {
  padding: 2rem;
  background: url(https://res.cloudinary.com/sapiangroup/image/upload/w_1200,f_auto,q_auto/v1598163494/OLLORUN_IMAGES/images/img/BG/BG_02_ollorun_yxijgr.jpg) no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
}

.ready span {
  font-size: 2rem;
}

@media screen and (max-width: 576px) {
  .ready span {
    font-size: 1.4rem;
  }
}

.ready a {
  display: inline-block;
  margin-top: 2rem;
  padding-left: 4rem;
  padding-right: 4rem;
}

.ready a:hover {
  color: #e52564;
  background-color: white;
}

.full-width-left {
  background: linear-gradient(-45deg, #00efdc 0%, #0094f4 100%) !important;
  width: 100% !important;
  height: auto !important;
  opacity: 1 !important;
  padding: 2rem 0;
}

.full-width-right {
  width: 100% !important;
  height: auto !important;
  opacity: 1 !important;
  background: -webkit-gradient(linear, left top, right top, from(#aa9400), color-stop(0%, #ddc56e), to(#837028)) !important;
  background: linear-gradient(90deg, #aa9400 0%, #ddc56e 0%, #837028 100%) !important;
  padding: 2rem 0;
}

.full-scale {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(1) !important;
          transform: scale(1) !important;
}

.zero-scale {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(0) !important;
          transform: scale(0) !important;
  width: 0 !important;
}

.top-right-close {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 1rem;
  border-radius: 50rem;
}

.intro-mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .intro-mobile {
    display: block;
  }
}

.mt {
  margin-top: 15rem !important;
}

.sec-9 {
  text-align: center;
}

.sec-9 h4 {
  margin-top: 0;
}

@media screen and (max-width: 576px) {
  .package .wealth-package {
    font-size: 0.8rem !important;
    margin: 6px 0 6px 16px !important;
  }
}

@media screen and (max-width: 576px) {
  .package .package-name {
    font-size: 1rem !important;
  }
}

@media screen and (max-width: 576px) {
  .package p {
    font-size: 0.6rem !important;
    margin: 2px 8px !important;
  }
}

@media screen and (max-width: 576px) {
  .package .select-button {
    font-size: 0.7rem !important;
    padding: 5px !important;
  }
}

@media screen and (max-width: 576px) {
  .stat {
    margin: 1rem 0 !important;
  }
  .stat .days {
    background: none !important;
  }
  .stat .days h6 {
    background: linear-gradient(95deg, #e6cd6b 0%, #837241 88%) !important;
    padding: 5px !important;
    border-radius: 50rem;
  }
}

@media screen and (max-width: 768px) {
  .stat {
    margin: 1rem 0.5rem !important;
  }
}

.navigator {
  position: fixed;
  z-index: 8000;
  right: 40px;
  top: 50%;
  width: 26px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: right;
}

.navigator .rightnav {
  display: block;
  position: relative;
  z-index: 9999;
  color: #ddc56e;
  width: 13px;
  height: 13px;
  outline: none;
  margin: 25px 0;
  border-radius: 50%;
  border: 2px solid #ddc56e;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.navigator .current {
  background: #fe495a !important;
  border: 2px solid #fe495a !important;
}

@media screen and (max-width: 768px) {
  .navigator {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 98%;
    width: 100%;
    right: 0%;
    left: 0%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navigator .rightnav {
    outline: none;
    margin: 10px;
    border-radius: 50%;
    border: 2px solid #ddc56e;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
}
/*# sourceMappingURL=main.css.map */